#menu-wrapper6{
	overflow: hidden;
	height: 200px;
	background: #EDEDED;
	position:relative;
	
	
}
#menu6 ul {
	margin: 0;
	padding: 0px;
	list-style: none;
	line-height: 100px;
}

#menu6 li {
	float: left;
	border-right: 1px solid #FFFFFF;
}

#menu6 a {
	display: block;
	letter-spacing: 1px;
	line-height: 55px;
	padding: 0px 30px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	font-size: 14px;
	font-weight: normal;
	color: #3B3B3B;
	border: none;
}
#menu6 a:hover {
	background: #000000;
	text-decoration: none;
	color: #FFFFFF;
}